@font-face {
    font-family: 'Press Start 2P';
    src: url('assets/PressStart2P-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Press Start 2P', monospace;
    margin: 0;
    padding: 0;
    background-color: #000;
    overflow: hidden;
}

#game-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    display: block;
    width: 100% !important;
    height: 100% !important;
    object-fit: contain;
}
